@import "normalize";
@import "susy";

@mixin cf {
  &:after {
    content: "";
    clear: both;
    display: block;
  }
}
 /* Colors */
 $color1: rgba(238, 243, 242, 0.8);
 $color2: rgba(250, 231, 179, 0.8);
 $color3: rgba(240, 150, 113, 0.8);
 $color4: rgba(234, 159, 195, 0.8);

 /* Variables - Breakpoints */
 $bp-s: 420px;
 $bp-m: 720px;
 $bp-l: 1100px;

$susy:(
  columns: 12,
  container: 1140px,
  debug:(image:hide),
  global-box-sizing: border-box
  );

@include border-box-sizing;

//==========
// Layouts
//==========

.wrap {
  @include container();
}
.content{
  @include span(10 of 12);
}
.sidebar{
  @include span(2 of 12 last);
}

.gallery{
  @include cf;
  width: span(10 of 12);
  margin-left: span(1 wide of 12);
}
@include nested(10) {
  .gallery__item{
    @include span(2);
    margin-bottom: gutter();
    &:nth-child(5n){
      @include last;
    }
  }
}


@media(max-width: $bp-s) {
  .content{
    @include span(12);
  }
  .sidebar{
    @include span(12);
  }
  .gallery{
    @include span(10);
  }
  .gallery__item{
    @include span(8);
  }
}


@media(max-width: 720px) {
  .content{
    @include span(12);
  }
  .sidebar{
    @include span(12);
  }
  .gallery{
    @include cf;
    width: span(12 of 16);
    margin-left: span(1 wide of 12);
  }
  @include nested(16) {
    .gallery__item{
      @include span(10);
      margin-bottom: gutter();
    }
  }
  @include nested(10) {
    .gallery__item{
      @include span(2);
      margin-bottom: gutter();
      &:nth-child(5n){
        @include last;
      }
    }
  }
}

.widget{
  @include gallery( 4 of 16 );
}
// ==========
// Taking care of CSS
//=========
body{
  background: #014567;
}
.logo{
  float: left;
  line-height: 2rem;
  font-size: 1.5rem;
}
nav{
  float: right;
  li{
    list-style: none;
    float: left;
    margin-left: 1rem;
    line-height: 2rem;
  }
}
h2{
  padding: 1rem 0;
  text-align: center;
  color: #555;
}
ul,
ol,
li {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }
.content{
  margin-top: 5vh;
  padding-bottom: 1rem;
  background: $color1;
  border-radius: 4px;
  -webkit-box-shadow: 2px 2px 44px -4px rgba(0,0,0,0.36);
  -moz-box-shadow: 2px 2px 44px -4px rgba(0,0,0,0.36);
  box-shadow: 2px 2px 44px -4px rgba(0,0,0,0.36);
  border: 1px solid #DEDEDE;
}
.sidebar{
  margin-top: 5vh;
  background: $color2;
  padding-bottom: 1rem;
  a{
    color: #666;
    padding-left: 1rem;
    line-height: 2;
    text-decoration: none;
  }
}


img {
  max-width: 100%;
  height: auto; }

.site-header, .site-footer {
  background: $color4;
}
.site-header {
  a{
    color: #555;
    text-decoration: none;
  }
}
.site-footer{
  margin-top: 5vh;
  bottom: 0;
  width: 100%;
}
.widget{
  background:$color3;
}
